@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Adventure Games";
}



@model IEnumerable<GGus.Web.Models.Product>

<link href="~/css/cards.css" rel="stylesheet" />


<h1 style="color:white;">Adventure Game Page</h1>
<br />
<br />
<div class="card-group" style="display:flex;">
    <div class="row " style="border:none">
        @foreach (var item in Model)
        {
            <div class="col-sm" style="padding:20px 20px;">
                <div class="card btn-outline-dark " style="width: 18rem;">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" style="color:black; text-decoration:none;">
                        <clickable>
                            <img src=@item.PhotosUrl1 style="width:288px; height:180px;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                            </div>
                        </clickable>
                    </a>
                    <div class="card-footer">
                        <h6 class="text-muted">Price - @item.Price ₪</h6>
                        <small class="btn btn-danger btn-sm" href="#">add to cart</small>
                        <small class="btn btn-danger btn-sm" href="#">add to wish list</small>
                    </div>
                </div>
            </div>


        }


    </div>
</div>