@model GGus.Web.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1 class="font-weight-lighter text-light">Details of Category</h1>

<hr />
<div>
    <table class="table-striped styleTable">
        <thead>
            <tr>
                <th>
                    <div>Category Id</div>
                </th>
                <th>
                    <div>Category Name</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                @Html.DisplayFor(model => model.Id)
                </th>
                <th>
                @Html.DisplayFor(model => model.Name)
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Update Details</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
