@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sports Games";
}




@model IEnumerable<GGus.Web.Models.Product>
<link href="~/css/cards.css" rel="stylesheet" />

<h1 class="game-title">Sports Game Page</h1>
<div class="card-group">
    <div class="row cardgrouprow">
        @foreach (var item in Model)
        {
            <div class="col-sm collumn">
                <div class="card btn-outline-dark btn-width">
                    <a class="asp-style-card" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                        <clickable>
                            <img src=@item.PhotosUrl1 class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                            </div>
                        </clickable>
                    </a>
                    <div class="card-footer">
                        <h6 class="text-muted">Price - @item.Price ₪</h6>
                        <form asp-controller="Carts" asp-action="AddToCart" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" style="border-color:white;">
                                Add To Cart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>