@import url('file:///C:\Users\User\Desktop\Computer Science\Applications\GGus\GGus.Web\wwwroot\css\cards.css');
.card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border: none !important;
    cursor: pointer;
}

.btn-info{
    background:#334554 !important;
    border: #334554 !important;
}
.card-deck {
width:80%;
}

.card-goup {
    display: flex;
}

.cardgrouprow {
    border:none;
}

.collumn {
    padding:20px 20px;
}

.btn-width {
    width: 18rem;
}

.asp-style-card {
    color:black; 
    text-decoration:none;
}

.card-img-top {
    width:288px; 
    height:180px;
}

.game-title {
    color:white;
}


a.logoStyle {
    color: white;
}

input.searchStyle {
    padding: 7px 10px 7px 10px;
}

section.abc{

}

.carousel-game-details {
   width:50%;
   height:50%;
   position:absolute;
   right:100px;
}
