
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

p.nameStyle{
    color:aliceblue;
}

header.login {
    padding: 25px 0px 0px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.shopping-cart-button {
    background-color: #334554;
}




