
p.nameStyle{
    color:aliceblue;
}

header.login {
    padding: 25px 0px 0px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
