body {
    background-color: #334554;
    overflow-x: hidden;
    overflow-y:scroll;
}

.btn {
    color: white;
    bottom: 0;
}


img.logo {
    display: block;
    width: 166px;
    height: 44px;
    background-color: #334554;
}

nav.navbar {
    background-color: #334554;
}

.collapse {
    background-color: #334554;
    border: none;
}

nav ul li {
    font-size: 16px;
    display: inline;
    padding: 2px 5px;
    color: white;
    bottom: 0;
    position: relative;
    margin: auto;
}


div.container {
    margin-left: 0%;
    width: 10%;
    height: 3%;
    color: white;
    box-sizing: content-box;
    position: relative;
    left: 0px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

/*
div.container1 {
    margin-left: 0%;
    border-color: white;
    border-style: solid;
    height: 60%;
    width: 100%;
    position:relative;
    left: 0px;
    overflow: hidden;
}

.master-container {
    -ms-overflow-style: none;
}*/

.carousel{
    width:70%;
    height:70%;
    z-index:auto;
}

.d-block {
    width:100px;
    height:400px;
}

/* Bottom line with our name */
.privacy {
    position: fixed;
    bottom: 0;
    color: white;
    font-size: small;
    text-align: center;
    left: 0;
    width:100%;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 60%;
    padding: 1% 1%;
    position: absolute;
    top: 0%;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 2px 16px;
    
}

.tag-gallery {
    color:aliceblue;
    top:15px;
    left:15px;
    z-index: 2;
    position: absolute;
    margin-bottom: auto;
    text-shadow:initial;
}










