@model GGus.Web.Models.Cart

@{
    ViewData["Title"] = "Edit";
}

<h1 class="font-weight-lighter text-light">Edit Cart</h1>

<hr />

<div class="wrapper text-light">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            @foreach (var item in Model.Products)
            {
                <div class="form-group">
                    <label>Game Name: @Html.DisplayFor(modelItem => item.Name)</label>
                    <img src=@item.PhotosUrl1>
                    <label>Game Price: @Html.DisplayFor(modelItem => item.Price) </label>
                    <br />

                </div>
            }

            <div class="form-group">
                <a asp-controller="Carts" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="btn btn-outline-warning">Remove products from this cart</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
