@model GGus.Web.Models.Cart
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Cart";
}


<h1>My Cart</h1>

<form asp-action="Search">
    <input name="query" placeholder="Enter a value to search" />
   <!-- <input name="currnetUser" type="hidden" value= />-->
    <input type="submit" value="search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
  
    <tbody>
</table>
