<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GGus.Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--  <link rel="stylesheet" href="~/css/site.css" />-->
    <link href="~/css/oursite.css" rel="stylesheet">
</head>

<body>
    <!--first navbar - login -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid col-12 offset-11">
            <button type="button" class="btn btn-default">Login</button>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        </button>

        <!--second navbar - logo+buttons-->
    </nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid shadow-lg p-3 mb-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar collapse"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedcContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/Home" style="color:white;">
                            <img class="logo" src="~/images/pictures/logo2.jpg">
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-default" href="#" onclick="visitPage()">Home</button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Game Type
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="\Categories\Action">Action</a></li>
                            <li><a class="dropdown-item" href="\Home\Adventure">Adventure</a></li>
                            <li><a class="dropdown-item" href="\Home\RPG">RPG</a></li>
                            <li><a class="dropdown-item" href="\Home\Sports">Sports</a></li>
                            <li><a class="dropdown-item" href="\Home\Strategy">Strategy</a></li>
                            <li><a class="dropdown-item" href="\Home\Race">Race</a></li>
                            <li><a class="dropdown-item" href="\Home\Animals">Animals</a></li>
                            <li><a class="dropdown-item" href="\Home\Music">Music</a></li>
                            <li><a class="dropdown-item" href="\Home\Horror">Horror</a></li>
                            <li><a class="dropdown-item" href="\Home\Puzzel">Puzzel</a></li>
                            <li><a class="dropdown-item" href="\Home\BoardGames">Board Games</a></li>
                            <li><a class="dropdown-item" href="\Home\Simulation">Simulation</a></li>
                            <li><a class="dropdown-item" href="\Home\Twodgames">2D Games</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            For You
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="\Home\BestSeller">Best Seller</a></li>
                            <li><a class="dropdown-item" href="\Home\ComingSoon">Coming Soon</a></li>
                            <li><a class="dropdown-item" href="\Home\GoodDeals">Good Deals</a></li>
                            <li><a class="dropdown-item" href="\Home\NewGames">New Games</a></li>
                            <li><a class="dropdown-item" href="\Home\Recommended">Recommended</a></li>
                            <li><a class="dropdown-item" href="\Home\LastView">Last view</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/News"><button class="btn" href="/Home">News</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/MyGames"><button class="btn" href="#">My Games</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/SupportUs"><button class="btn" href="#">Support Us</button></a>
                    </li>
                </ul>
                <form class="d-flex ">
                    <input class="form-control me-2 col-12 offset-10" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="">
        <main role="main" class="pb-3">
            <center>
                @RenderBody()
            </center>
        </main>
    </div>
    <div class="privacy">
        <center>
            <a href="/Home/Privacy" style="color:white;">
                ©️ 2021 GGus Corporation. All rights reserved. All trademarks are property of their
                respective owners in the Isreal and other countries.
                VAT included in all prices where applicable. Privacy Policy | Legal | GGus Subscriber Agreement | Refunds |
            </a>
        </center>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js.js"></script>
    

    @RenderSection("Scripts", required: false)

</body>


</html>