<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GGus.Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="AccessDenined.css">
    <link href="~/css/oursite.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/Table.css" rel="stylesheet" />
    <link href="~/css/payment.css" rel="stylesheet" />
    <link href="~/css/cards.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <!--first navbar - login -->
    <header class="navbar navbar-expand-lg login">
        <div class="nav-item container-fluid col-11 offset-10">
            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
            {
                <p class="nav-link text-light">
                    Hello @Context.User.Identity.Name   |

                    <a class="btn-link text-light shopping-cart-button" asp-action="MyCart" asp-controller="Carts" asp-area="">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="text"> Cart </span>
                    </a> |
                    <a class="btn-link text-light" asp-action="LogOut" asp-controller="Users" asp-area="">LogOut</a>
                </p>

            }
            else
            {
                <p class="nav-link text-light">
                    <a class="btn-link text-light" asp-action="LogIn" asp-controller="Users" asp-area="">Login</a> |
                    <a class="btn-link text-light" asp-action="Register" asp-controller="Users" asp-area="">Register</a>
                </p>
            }

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        </button>

    </header>
    <!--second navbar - logo+buttons-->

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid shadow-lg p-3 mb-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar collapse"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedcContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="logoStyle" href="/Home">
                            <img class="logo" src="~/images/pictures/logo2.jpg">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-default" href="\Home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Game Type
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="\Categories\Action">Action</a></li>
                            <li><a class="dropdown-item" href="\Categories\Adventure">Adventure</a></li>
                            <li><a class="dropdown-item" href="\Categories\RPG">RPG</a></li>
                            <li><a class="dropdown-item" href="\Categories\Sport">Sports</a></li>
                            <li><a class="dropdown-item" href="\Categories\Race">Race</a></li>
                            <li><a class="dropdown-item" href="\Categories\Horror">Horror</a></li>
                            <li><a class="dropdown-item" href="\Categories\Puzzle">Puzzle</a></li>
                            <li><a class="dropdown-item" href="\Categories\Simulation">Simulation</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="btn" data-toggle="modal" data-target="#supportus">Support Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/VisitUs" class="btn">Visit Us</a>
                    </li>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Admin Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="\Categories\Index">Categories</a></li>
                                <li><a class="dropdown-item" href="\Products\Index">Products</a></li>
                                <li><a class="dropdown-item" href="\Carts\Index">Carts</a></li>
                                <li><a class="dropdown-item" href="\Users\Index">Users</a></li>
                            </ul>
                        </li>
                    }
                    <li class="nav-item">
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v11.0&appId=1163597744152928&autoLogAppEvents=1" nonce="jsD1P6RC"></script>
                        <div class="fb-share-button" data-href="https://www.linkpicture.com/q/GGus.jpg" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
                    </li>

                </ul>

                <iframe class="col-md-2 weather" scrolling="no" clocktype="html5" src="https://www.clocklink.com/html5embed.php?clock=044&timezone=IST&color=white&size=450&Title=&Message=&Target=&From=2021,1,1,0,0,0&Color=white"></iframe>

            </div>
        </div>
    </nav>
    <div class="">
        <main role="main" class="pb-3">
            <center>
                @RenderBody()
            </center>
        </main>
    </div>
    <footer>
        <center>
            <a class="privacy" href="/Home/Privacy">
                ©️ 2021 GGus Corporation. All rights reserved. All trademarks are property of their
                respective owners in the Isreal and other countries.
                VAT included in all prices where applicable. Privacy Policy | Legal | GGus Subscriber Agreement | Refunds |
            </a>
        </center>
    </footer>

    <div class="modal fade" id="supportus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">About Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Developers :</p>
                    <p>Eynav Ptia - EynavPere@gmail.com</p>
                    <p>Koral Duel - Koraduel2113@gmail.com</p>
                    <p>Niv Vaknin - Nivos123@gmail.com</p>
                    <p>Samuel Krief - SamiAcabai@gmail.com</p>

                    <canvas id="myCanvas">
                    </canvas>
                    <script>
                        var c = document.getElementById("myCanvas");
                        var ctx = c.getContext("2d");
                        ctx.font = "30px David";
                        ctx.fillText("Thanks for supporting Us", 10, 50);
                    </script>
                </div>
                <video controls autoplay muted id="myVid">
                    <source src="~/images/pictures/video.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                </video>
            </div>
        </div>
    </div>


    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>