@{
    ViewData["Title"] = "Access Denined";
}
<div class="text-light">
    <h1>Access Denined</h1>
    <h2>You are not authorized to access this page</h2>
    <hr />
    <a asp-controller="Users" asp-action="LogOut"> click here </a> to signin with a diffrent user
</div>