@{
    ViewData["Title"] = "Access Denined";
}
<h1>Access Denined</h1>
<h2>you are not authorized to access this page</h2>
<a asp-controller="Users" asp-action="LogOut">click here</a>to signin with a diffrent user 

