<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




<div class="text-light">
    <h3 class="w3-animate-fading">Oppsss!</h3>
    <h1 class="w3-animate-fading">This page not found!</h1>
    <br />
    <a class="btn btn-secondary" href="/Home/index">Back to Home Page</a>
</div>