
@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<h1 class="font-weight-lighter text-light">Privacy</h1>
<br />
<div class="privacy-colum">
    <p class="paragraph">
        GGus Pvt. Ltd. values your privacy.
        We attempt to use or share personal and demographic information that we collect only to serve you better.
        This notice describes our privacy policy.
        By visiting www.GGus.com, you are accepting the practices, terms and conditions described of this Privacy Policy.
        The website may contain links to other websites and we are not responsible for the privacy practices or content of such websites.
        Our privacy policy is subject to change at any time without notice.
        Hence in order to make sure you are aware of any changes, please review this policy periodically.
    </p>

    <p class="title">
        COLLECTION OF PERSONALLY IDENTIFIABLE AND OTHER INFORMATION
    </p>

    <p class="paragraph">
        We receive information which you provide us through our website or give us any way.
        However you may also choose not to provide certain information, which may limit your ability to use various features of the website and buy the products.
        We collect and use personal identifiable information, demographic information,
        contact details to customize shopping for you, to improve website, send you information about our company and offers.
        Like other websites, we will automatically receive and collect certain anonymous information including computer-identification information like IP address,
        domain server, type of web server and web browser you are using obtained from "cookies",
        sent to your browser from a web server cookie stored on your hard drive.
        You can stop your computer from storing cookies if you want to.
        Most of the browsers will tell you how to prevent your browser from accepting new cookies,
        how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.
        We may also collect information related to pages you visit, access, time spent, shopping details and the links you click.
        You may terminate your account at any time.
        However, your information may remain stored in archive on our servers even after the deletion or the termination of your account.
        We do not retain any financial information like bank account or any card details on our website at any time on www.GGus.com.
        We do not sell products for purchase by children.
        We sell children's products for purchase by adults. If you are under 18, you may use the website only with the involvement of a parent or guardian.
        We are not responsible if you making any purchase without the supervision or consent of an adult.
    </p>

    <p class="title">
        USE OF INFORMATION COLLECTED
    </p>
    <p class="paragraph">
        We use the personally identifiable information collected to provide you with personalized features,
        to get in touch with you when necessary and preserve required history.
        We use contact information internally to direct our effort for product and website improvement,
        conduct survey and contests, notify you if you win and to send you promotional materials.
        Generally we use the traffic information to help us identifying you in order to 
        deliver to you a better and more personalized service from both an advertising and an editorial perspective;
        recognize your access privileges, track your entries in some of our contests, sweepstakes and promotions,
        make sure that you don't see the same ad repeatedly, help diagnose problems with our server, administer our websites,
        track your session so that we can understand better how people use our sites.
    </p>

    <p class="title">
        SHARING OF INFORMATION COLLECTED
    </p>

    <p class="paragraph">
        The required financial information to complete the transaction will be provided you and the same will not be used by us for any other purpose.
        We do not rent, sell or share your personal information and we will not disclose any of your personally identifiable information
        to third parties unless we have your permission, to provide products or services you've requested, to help investigate,
        prevent or take action regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or security of any person,
        violations of GGus Pvt. Ltd. terms of use or to defend against legal claims,
        special circumstances such as compliance with subpoenas, court orders, requests/order,
        notices from legal authorities or law enforcement agencies requiring such disclosure.
        We share your information with advertisers or third party only on an aggregate basis or with whom we have agreement 
        for a specific purpose and to serve you better.
    </p>

    <p class="title">
        CHOICES AVAILABLE TO YOU REGARDING COLLECTION, USE AND DISTRIBUTION OF YOUR INFORMATION
    </p>

    <p class="paragraph">
        On your request, we will remove or block your personally identifiable information from our database, thereby cancelling your registration.
        However, your information may remain stored in archive on our servers even after the deletion or the termination of your account.
        You may change your interests at any time. You may opt-in or opt-out of any marketing / promotional / newsletters mailings.
        We reserves the right to send you certain service related communication,
        considered to be a part of your account with us with offering you the facility to opt-out.
        You may update your information and change your account settings at any time.
        If we plan to use your personally identifiable information for any specific purpose,
        we will notify you at the time the purpose for which we collect that information and allow you to opt-out of having your information used for those purposes.
    </p>
    <p class="title">
        SECURITY PROCEDURES TO PROTECT INFORMATION FROM LOSS, MISUSE OR ALTERATION
    </p>
    <p class="paragraph">
        We have in place appropriate physical, electronic and managerial procedures primarily to protect against the loss,
        misuse and alteration of the information under our control.
        For example, our servers are accessible only to authorized personnel and that your information is shared with respective personnel
        on need to know basis to complete the transaction and to provide the services requested by you.
        We would also like to inform you that though we endeavour to safeguard the confidentiality of your personally identifiable information,
        transmissions made by means of the Internet cannot be made absolutely secure.
        By using this site, you agree that we will have no liability for disclosure of your information due to errors in transmission
        or unauthorized acts of third party or any other reason whatsoever it may be.
    </p>

    <p class="title">
        POLICY UPDATES
    </p>

    <p class="paragraph">
        Whether or not you have viewed our terms and conditions of use of our Websites, or this Privacy Policy,
        and whether or not you have chosen to not receive notices from us, those terms and notices will still govern your use of www.GGus.com.
        We reserve the right to change or update this policy at any time by placing a prominent notice on our site.
        Such changes shall be effective immediately upon posting to this site.
    </p>
</div>

<hr />


<div class="privacyText" id="privacyText">
    <p>
        <a class="text-light" href="/Home/Index">Home</a> |
        <a class="text-light" href="/Home/VisitUs">Visit Us</a> |
        @DateTime.Now
    </p>
</div>
<br />

