@using GGus.Controllers;
@using GGus.Web.Models;
@{
    ViewBag.Title = "statistics";


}
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <div id="container" class="graph1"></div>

    <br />
    <br />
    <br />
    <table id="datatable" class="datatable">
        <thead>
            <tr>
                <th></th>
                <th>name of game</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var v in ViewBag.data as ICollection<Stat>)
            {
                <tr>
                    <th>@v.Key</th>
                    <th>@v.Values</th>
                </tr>
            }
        </tbody>
    </table>

    <script>
        Highcharts.chart('container', {
            data: {
                table: 'datatable'
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Who is the most popular game'
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'number of Current Cart the game in'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.point.y + ' ' + this.point.name.toLowerCase();
                }
            }

        });
    </script>

</div>



<p>




</p>



<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <div id="container1" class="graph2"></div>

    <br />
    <br />
    <br />
    <table id="datatable1" class="datatable1">
        <thead>
            <tr>
                <th></th>
                <th>Num of Users</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var v in ViewBag.data2 as ICollection<Stat>)
            {
                <tr>
                    <th>@v.Key</th>
                    <th>@v.Values</th>
                </tr>
            }
        </tbody>
    </table>

    <script>
        Highcharts.chart('container1', {
            data: {
                table: 'datatable1'
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Who is the most popular Age'
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'number of Current User age'
                }
            },
            xAxis: {
                allowDecimals: true,
                title: {
                    text: 'Ages range'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/><br/>' +
                        this.point.y + ' '+ this.point.name.toLowerCase();
                }
            }

        });
    </script>

</div>



































